@media only screen and (max-width: 800px) {
  header .left-nav {
    width: 70%;
  }
  header .middle-nav {
    display: none;
  }

  header .side-nav ul li form {
    display: block;
  }

  header .right-nav {
    display: none;
  }

  header .side-nav {
    width: 50vw;
  }

  header .side-nav ul li a button {
    display: block;
  }

  .cookie {
    flex-direction: column;
    gap: 10px;
  }

  .cookie .left {
    width: 100%;
  }

  .cookie .left h2 {
    font-size: 20px;
  }

  .cookie .left p {
    font-size: 15px;
  }

  .cookie .right {
    width: 100%;
    justify-content: center;
  }

  .cookie .right .preference {
    font-size: 13px;
  }

  .cookie .right .reject {
    font-size: 13px;
  }

  .cookie .right .accept {
    font-size: 13px;
  }

  .popular-content {
    flex-direction: column;
  }

  .popular-img,
  .popular-vid {
    width: 100%;
  }

  .popular-text {
    width: 80%;
  }

  #weekly-deals {
    flex-direction: column;
  }

  #weekly-deals .time,#weekly-deals .product-img {
    width: 100%;
  }

  #weekly-deals .product-img img {
    width: 50%;
  }

  .contact-body {
    flex-direction: column-reverse;
  }

  .contact-form,
  .contact-map {
    width: 100%;
  }

  #feature-list {
    flex-direction: column;
  }

  #feature-list .features {
    width: 100%;
  }

  footer .upper {
    flex-direction: column;
  }

  footer .upper .left,
  footer .upper .right,
  footer .upper p {
    width: 100%;
  }
  footer .upper .right {
    flex-direction: column;
  }

  .product-prev {
    left: 4vw;
  }
}

@media only screen and (max-width: 520px) {
  .cookie .right {
    flex-direction: column;
  }
}

@media only screen and (max-width: 400px) {
  header .side-nav {
    width: 70vw;
  }
  .product-next,
  .product-prev {
    top: 20vh;
  }
}

@media only screen and (max-width: 350px) {
#weekly-deals .time .timer-countdown {
flex-direction: column;
}
}