/* css reset start  */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  text-transform: none;
  box-sizing: border-box;
  user-select: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  /* position: relative; */
}

h1 {
  font-size: 35px;
}

h3 {
  font-size: 22px;
}

p {
  font-size: 15px;
}
a {
  font-size: 18px;
}

/* css reset end  */

/* root css start  */

:root {
  --left-right-padding: 10vh 4vw 0;
  --light-green: #54af35;
  --light-white: #fffbe8;
  --dark-green: #0c7733;
  --light-yellow: #f9cc16;
  --light-olive: #c5dd8b;
}

/* root css end  */

/* header start  */

header {
  padding: var(--left-right-padding);
  padding-top: 0;
  background-color: var(--light-yellow);
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 10000;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10%;
  align-items: center;
}

header .left-nav {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 20%;
}

header .left-nav .fa-bars {
  color: var(--light-white);
  font-size: 33px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

header .left-nav h1 {
  color: var(--light-white);
}

header .left-nav h1 span {
  color: var(--light-green);
}

header .middle-nav {
  width: 50%;
}

header .middle-nav form,
header .side-nav ul li form {
  display: flex;
}

header .middle-nav form input,
header .side-nav ul li form input {
  width: 80%;
  padding: 10px;
  outline: none;
  border: 1px solid var(--light-white);
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

header .side-nav ul li form {
  position: relative;
  display: none;
}

header .side-nav ul li form input {
  width: 100%;
}

header .side-nav ul li form button {
  position: absolute;
  right: 0;
  top: 0;
}

header .middle-nav form button,
header .side-nav ul li form button {
  width: 20%;
  padding: 10px;
  border: 1px solid var(--light-white);
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: var(--light-green);
  color: var(--light-white);
  cursor: pointer;
}

header .middle-nav form button:hover,
header .side-nav ul li form button:hover {
  background-color: var(--dark-green);
  transition: all 0.3s ease-in-out;
}

header .right-nav {
  width: 20%;
}

header .right-nav button,
header .side-nav ul li a button {
  float: right;
  padding: 10px 30px;
  border: 1px solid var(--light-white);
  background-color: var(--light-green);
  color: var(--light-white);
  border-radius: 5px;
  cursor: pointer;
}

header .right-nav button:hover,
header .side-nav ul li a button:hover {
  background-color: var(--dark-green);
  transition: all 0.3s ease-in-out;
}

header .side-nav {
  position: absolute;
  left: -100%;
  top: 10vh;
  height: 90vh;
  background-color: var(--light-white);
  width: 20vw;
  transition: all 0.5s ease-in-out;
  z-index: 100000;
  border: 1px solid var(--light-yellow);
}

header .side-nav.active {
  left: 0;
  transition: all 0.5s ease-in-out;
}

header .side-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  gap: 10px;
  margin-top: 20px;
}

header .side-nav ul li a {
  color: var(--light-yellow);
  font-weight: 700;
}

header .side-nav ul li a:hover {
  color: var(--light-green);
}

header .side-nav ul li a button {
  float: left;
  display: none;
}

header .side-nav ul li i {
  padding-right: 5px;
}

/* header end  */

/* progress bar start  */

.progress {
  height: 5px;
  width: 100%;
  position: fixed;
  top: 10vh;
  z-index: 1000;
}

.highlight {
  transition: width 0.5s linear;
  width: 0%;
  background-color: var(--dark-green);
  height: 100%;
}

/* progress bar end  */

/* cookie set start  */

.cookie {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 0px;
  background-color: var(--light-yellow);
  border: 1px solid var(--light-yellow);
  position: fixed;
  bottom: 0;
  z-index: 10;
  box-shadow: 0px -3px 176px 157px var(--light-green);
  margin: 0 5px;
  visibility: hidden;
}

.cookie.hide {
  display: none;
}

.cookie .left {
  width: 60%;
  padding: 0 15px;
}

.cookie .left h2 {
  padding-bottom: 5px;
  color: var(--light-white);
  font-size: 25px;
}

.cookie .left p {
  color: var(--light-white);
  font-size: 17px;
}

.cookie .left p span {
  color: var(--light-green);
  text-decoration: underline;
  font-weight: 100;
  padding-left: 5px;
  cursor: pointer;
}

.cookie .right {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 40%;
  padding: 0 15px;
}

.cookie .right .preference {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  color: var(--light-green);
}

.cookie .right .reject {
  padding: 5px 30px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  color: var(--light-green);
}

.cookie .right .accept {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  color: var(--light-green);
}

/* cookie set end  */

/* banner section start  */

.banner-swiper {
  width: 100%;
  height: 100%;
  padding-top: 10vh;
}

.banner-swiper img {
  display: block;
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--light-yellow);
}

.swiper-pagination-bullet {
  background-color: var(--light-yellow);
}

/* banner section end  */

/* popular category section start  */

#popular-category {
  padding: var(--left-right-padding);
  position: relative !important;
}

#popular-category h1 {
  text-align: center;
  margin-bottom: 20px;
}

#popular-category h1 span {
  color: var(--light-yellow);
}

.product-swiper {
  position: static !important;
}

.product-swiper img {
  width: 100%;
  height: 370px;
}

.product-next {
  top: 15vh;
  right: 4vw;
  font-size: 24px;
}

.product-prev {
  top: 15vh;
  left: 90vw;
  font-size: 24px;
}

.product-swiper .swiper-slide {
  background-color: var(--light-white);
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.product-swiper .swiper-slide h3,
.product-swiper .swiper-slide p {
  font-weight: 300;
}

.product-swiper .swiper-slide a {
  padding: 15px 10px;
  background-color: var(--light-yellow);
  color: var(--light-white);
  text-align: center;
  width: 50%;
}
.product-swiper .swiper-slide a:hover {
  background-color: var(--light-green);
}

.product-swiper .swiper-button-next::after,
.product-swiper .swiper-button-prev::after {
  content: "";
}

.product-swiper .pills {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px;
  border-radius: 5px;
  color: var(--light-white);
  background-color: var(--light-yellow);
}

/* popular category section end  */

/* popular section start  */

#popular {
  padding: var(--left-right-padding);
}

.popular-content {
  display: flex;
  gap: 20px;
}

#popular h1 {
  text-align: center;
  margin-bottom: 20px;
}

#popular h1 span {
  color: var(--light-yellow);
}

.popular-img,
.popular-vid {
  width: 50%;
  position: relative;
}

.popular-img img,
.popular-vid video {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.popular-text {
  position: absolute;
  top: 10%;
  left: 5%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 50%;
}

.popular-text p {
  color: var(--light-white);
}

.popular-text a {
  background-color: var(--light-yellow);
  padding: 10px 20px;
  width: 60%;
  border-radius: 5px;
  border: 1px solid var(--light-white);
  color: var(--light-white);
}

.popular-text a:hover {
  background-color: var(--light-green);
}

/* popular section end  */

/* brand section start  */

#brands {
  padding: var(--left-right-padding);
}

.brand-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#brands h1 {
  text-align: center;
  margin-bottom: 20px;
}

#brands h1 span {
  color: var(--light-yellow);
}

/* brand section start  */

/* reviews section start */

#reviews {
  padding: var(--left-right-padding);
}

#reviews h1 {
  text-align: center;
  margin-bottom: 20px;
}

#reviews h1 span {
  color: var(--light-yellow);
}

#reviews p {
  text-align: center;
}

#reviews .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 20px 10px;
  background-color: var(--light-white);
}

#reviews .swiper-slide .review-star {
  display: flex;
  gap: 5px;
}

#reviews .fa-user {
  font-size: 30px;
}

#reviews .fa-solid {
  color: var(--light-yellow);
}

/* reviews section end  */

/* deal of the week section start */

#weekly-deals {
  display: flex;
  width: 100%;
  padding: var(--left-right-padding);
  padding-bottom: 10vw;
  background-color: var(--light-yellow);
  gap: 40px;
}

#weekly-deals .time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 50%;
}

#weekly-deals .time h1,
#weekly-deals .time p,
#weekly-deals .time h3 {
  color: var(--light-white);
}

#weekly-deals .time a {
  color: var(--light-yellow);
  background-color: var(--light-white);
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bolder;
}

#weekly-deals .time a:hover {
  box-shadow: 0px 0px 3vh 1vh var(--light-white);
}

#weekly-deals .time .timer-countdown {
  display: flex;
  gap: 10px;
  text-align: center;
}

#weekly-deals .time .timer-countdown div {
  padding: 10px;
  background-color: var(--light-white);
  border-radius: 10px;
}

#weekly-deals .time .timer-countdown p {
  color: var(--dark-green);
  font-weight: bolder;
  font-size: 25px;
}

#weekly-deals .product-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#weekly-deals .product-img img {
  width: 30%;
}

/* deal of the week section end  */

/* accordian section start  */

#faqs {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--left-right-padding);
}

#faqs h1 {
  text-align: center;
  margin-bottom: 20px;
}

#faqs h1 span {
  color: var(--light-yellow);
}

.question {
  background-color: var(--light-yellow);
  color: var(--light-white);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 1px solid var(--dark-green);
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.question:hover {
  background-color: var(--light-olive);
}

.answer {
  padding: 10px 18px;
  display: none;
  background-color: var(--light-white);
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.answer.active {
  display: block;
  transition: all 1s ease-in-out;
}

/* accordian section end  */

/* contact section start  */

#contact {
  padding: var(--left-right-padding);
  display: flex;
  flex-direction: column;
}

#contact h1 {
  text-align: center;
  margin-bottom: 20px;
}

#contact h1 span {
  color: var(--light-yellow);
}

.contact-body {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 50px;
}

.contact-form,
.contact-map {
  width: 45%;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.contact-form form input,
.contact-form form textarea {
  width: 100%;
  outline: none;
  padding: 15px 10px;
  border: 1px solid var(--light-yellow);
}

.contact-form form button {
  padding: 10px 30px;
  border: 1px solid var(--light-white);
  background-color: var(--light-green);
  color: var(--light-white);
  border-radius: 5px;
  cursor: pointer;
}

.contact-form form button:hover {
  background-color: var(--dark-green);
  transition: all 0.3s ease-in-out;
}

.contact-map iframe {
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-yellow);
}

/* contact section end  */

/* backtotop section start  */

#back-to-top {
  position: fixed;
  right: 10px;
  bottom: 15px;
  display: none;
  z-index: 1000;
}

#back-to-top a {
  padding: 10px;
  background-color: var(--light-yellow);
  color: var(--light-white);
  cursor: pointer;
  border: 1px solid var(--dark-green);
}

/* backtotop section end  */

/* special feature section start */

#feature-list {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: var(--left-right-padding);
}

#feature-list .features {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  border: 1px solid var(--light-yellow);
  width: 30%;
}

#feature-list .features .feature-icon i {
  font-size: 50px;
  color: var(--light-yellow);
}

#feature-list .features .feature-advantage h3 {
  text-transform: uppercase;
}

/* special feature section end  */

/* footer start */

footer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  padding: var(--left-right-padding);
  padding-top: 10px;
  background-color: var(--light-yellow);
  margin-top: 20px;
}

footer .upper {
  display: flex;
  gap: 40px;
}

footer .upper p {
  width: 70%;
}

footer .upper .left {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

footer .upper .left h1,
footer .upper .right h1 {
  color: var(--light-white);
}

footer .upper .right {
  width: 40%;
  display: flex;
  gap: 40px;
}

footer .upper .left ul {
  display: flex;
  gap: 10px;
}

footer .upper .left ul li a {
  padding: 8px 10px;
  border-radius: 50%;
  color: var(--light-white);
  cursor: pointer;
}

footer .upper .left ul li:nth-child(1) a {
  background-color: red;
  cursor: pointer;
}

footer .upper .left ul li:nth-child(2) a {
  background-color: blue;
  cursor: pointer;
}

footer .upper .left ul li:nth-child(3) a {
  background-color: rgb(38, 38, 129);
  cursor: pointer;
}

footer .upper .left ul li:nth-child(4) a {
  background-color: green;
  cursor: pointer;
}

footer .upper .right .footer-link {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

footer .upper .right .footer-link ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .upper .right .footer-link ul li a {
  color: black;
  cursor: pointer;
}

footer .lower {
  text-align: center;
}

/* footer end */

/* scrollbar start  */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--light-white);
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: var(--light-yellow);
  border-radius: 4px;
  border: 1px solid var(--light-yellow);
}

/* scrollbar end  */
